:host ::ng-deep .input-text {
    background-color: #fff;
    border-radius: 3px;
    border: none;
    padding: 1.5rem 2rem;
    width: 100%;
    font-family: inherit;
    font-size: 1.5rem;
    border-bottom: 3px solid transparent;
    display: block;
    resize: none;
    transition: all .2s;

    &:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0,0,0, 0.2);
        border-bottom: 3px solid #55c57a;
    }
    
    &::-webkit-input-placeholder{
        color: var(--color-grey-dark-2);
    }

    &::-moz-placeholder{
        color: var(--color-gray-dark-2);
    }
}

:host ::ng-deep input.ng-invalid.ng-touched,:host ::ng-deep textarea.ng-invalid.ng-touched{
    border-bottom: 3px solid var(--color-primary);
    box-shadow: none;
}