<app-form>
    <div class="margin-bottom-medium">
        <h2 class="heading-primary">Login here</h2>
    </div>
    <form [formGroup]="LoginForm" (ngSubmit)="login()" class="form">
        <div class="form__group">
            <app-input>
                <input type="text" class="input-text" placeholder="Username" id="username" formControlName="username">
            </app-input>
            <small class="error" *ngIf="LoginForm.get('username').invalid && LoginForm.get('username').touched">username cannot be blank</small>
        </div>
        <div class="form__group">
            <app-input>
                <input type="password" class="input-text" placeholder="password" id="password" formControlName="password">
            </app-input>
            <small class="error" *ngIf="LoginForm.get('password').invalid && LoginForm.get('password').touched">password cannot be blank</small>
        </div>
        <div class="form__group">
            <app-button [disableValue]="LoginForm.invalid" [btnClasses]="['btn','btn--animated']" [btnType]="'submit'">Login</app-button>
            <app-button [navigateTo]="'/auth/forgot-password'" class="margin-left-large" [btnClasses]="['btn-text']" [btnType]="'submit'">forgot password</app-button>
        </div>
    </form>
</app-form>

