<app-form>
    <div class="margin-bottom-medium">
        <h2 class="heading-primary">Enter Email</h2>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="form margin-bottom-small">
        <div class="margin-bottom-small">
            <app-input>
                <input type="text" class="input-text" placeholder="Enter email or username" id="email" formControlName="email">
            </app-input>
            <small class="error"
                *ngIf="forgotPasswordForm.get('email').errors?.['required'] && forgotPasswordForm.get('email').touched">Email
                cannot be blank</small>
            <small class="error"
                *ngIf="forgotPasswordForm.get('email').errors?.['email'] && forgotPasswordForm.get('email').touched">Provide
                a valid email</small>
            <small class="error" *ngIf="error && forgotPasswordForm.valid">{{error.message}}</small>
        </div>
        <app-button [disableValue]="forgotPasswordForm.invalid"
            [btnClasses]="['btn','btn--animated']" [btnType]="'submit'">Send OTP</app-button>
    </form>
    <app-alert-box>
        <div class="alert alert__success">
            we will send u an otp to your email for verficiation
        </div>
    </app-alert-box>
</app-form>