<div class="cart">
  <div class="margin-bottom-small">
    <h2 class="heading-primary">My cart</h2>
  </div>
    <ul class="cart__list">
      <li class="cart__item" *ngFor="let cartItem of cart.cartItems;index as i">
        <img [src]="urls[i]" alt="Product" class="cart__item-image">
        <div class="cart__item-details">
          <h3 class="cart__item-title">{{cartItem.product.productName}}</h3>
          <p class="cart__item-description">{{cartItem.product.productDescription}}</p>
          <span class="cart__item-price">{{cartItem.product.productDiscountedPrice+"$"}}</span>
        </div>
        <div class="quantity-control">
          <button (click)="decreaseQuantity(cartItem)" class="quantity-btn">-</button>
          <span class="quantity">{{ cartItem.quantity }}</span>
          <button (click)="increaseQuantity(cartItem)" class="quantity-btn">+</button>
        </div>
        <button class="cart__item-remove" (click)="removeCartItem(cartItem)">Remove</button>
      </li>
    </ul>
    <div class="cart__summary">
      <span class="cart__summary-text">Total:</span>
      <span class="cart__summary-price">{{totalAmount+"$"}}</span>
    </div>
    <app-button [disableValue]="cart.cartItems.length < 1" [btnClasses]="['btn','btn--animated']" (click)="goToCheckout(cart.cartItems)">Checkout</app-button>
    <!-- <button class="cart__checkout">Checkout</button> -->
  </div>
  