.container{
    display: flex;
    align-items: center;
    height: calc(100vh - 13rem);
    justify-content: center;
}
.form-container{
    flex: 0 0 60%;
    margin-top: -5rem;
    min-height: 60%;
    background-color: var(--color-primary-light);
    padding: 4rem 0;
}

.form{
    padding: 4rem 3rem;

    &__group{
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(240,240,240);
    height: 100%;
}