<div class="container">
    <div class="form-container">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="form">
            <div class="form__group">
                <app-input>
                    <input type="text" class="input-text" placeholder="New password" id="new-password" formControlName="new-password">
                </app-input>
            </div>
            <div class="form__group">
                <app-input>
                    <input type="text" class="input-text" placeholder="Confirm password" id="confirm-password" formControlName="confirm-password">
                </app-input>
            </div>
            <div class="form__group">
                <app-button  [btnClasses]="['btn','btn--animated']" [btnType]="'submit'">Done</app-button>
            </div>
        </form>
    </div>
</div>
