<app-form>
    <div class="margin-bottom-medium">
        <h2 class="heading-primary">Login here</h2>
    </div>
    <form [formGroup]="LoginForm" (ngSubmit)="login()" class="form margin-bottom-small">
        <div class="form__group">
            <app-input>
                <input type="text" class="input-text" placeholder="Username" id="username" formControlName="username" autocomplete>
            </app-input>
            <small class="error" *ngIf="LoginForm.get('username').invalid && LoginForm.get('username').touched">username cannot be blank</small>
        </div>
        <div class="form__group">
            <app-input>
                <input type="password" class="input-text" placeholder="password" id="password" formControlName="password" autocomplete>
            </app-input>
            <small class="error" *ngIf="LoginForm.get('password').invalid && LoginForm.get('password').touched">password cannot be blank</small>
        </div>
        <div class="form__group">
            <app-button [disableValue]="LoginForm.invalid" [btnClasses]="['btn','btn--animated']" [btnType]="'submit'">Login</app-button>
            <app-button [navigateTo]="'/auth/forgot-password'" class="margin-left-large" [btnClasses]="['btn-text']" [btnType]="'submit'">forgot password?</app-button>
        </div>
    </form>
    <ng-container *ngIf="error">
        <app-alert-box>
            <div class="alert alert__danger">
                {{error.message}}: check your username or password
            </div>
        </app-alert-box>
    </ng-container>
    <ng-container *ngIf="data.message">
        <app-alert-box>
            <div class="alert alert__success">
                {{data.message}}
            </div>
        </app-alert-box>
    </ng-container>
</app-form>

