<app-header></app-header>
<div class="content">
    <div class="sidebar-container" [ngClass]="{'sidebar-animation': isSidebarOpen, 'sidebar-after-animation': !isSidebarOpen}">
        <app-sidebar></app-sidebar>
    </div>
    <main class="main">
        <ng-container *ngIf="isAdmin() && loggedIn()">
            <nav class="admin-nav">
                <ul class="navigation">
                    <li class="navigation__item">
                        <a routerLink="/products/add" class="navigation__link">
                            Add new product
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a routerLink="/products/details" class="navigation__link">
                            Products Details
                        </a>
                    </li>
                </ul>
            </nav>
        </ng-container>
        <app-loader *ngIf="showLoader"></app-loader>
       <router-outlet *ngIf="!showLoader"></router-outlet>
    </main>
</div>