.content{
    display: flex;
    margin-top: 7rem;
}
.sidebar-container{
    flex: 0 0 0%;
    transition: all 1s cubic-bezier(0.68,-0.55,0.265,2.1);
}
.sidebar-animation{
    flex: 0 0 18%;
}
.main{
    flex: 1;
    padding: 1rem 3rem;
}

.admin-nav{
    background-color: var(--color-primary);
    margin: -1rem -3rem 1rem -3rem;
}

.navigation{
    display: flex;
    font-size: 1.4rem;
    list-style: none;
     &__link{
        &:link,
        &:visited{
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            padding: 1.5rem;
            align-items: center;
            color: #fff;
            transition: all .2s;
        }
        &:hover{
            background-color: var(--color-primary-light);
        }
        &:active{
            background-color: rgba(var(--color-primary-light),.8);
            
        }
     }
}