.btn{
    &,
    &:link,
    &:visited{
        border:none;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 1.5rem 3rem;
        cursor: pointer;
        display: inline-block;
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        color: #fff;
        font-size: 1.6rem;
        position: relative;
        transition: all .4s;
    }
    
    &:hover{
        box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:active{
        outline: none;
        transform: translateY(3px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.2);
    }



    &--animated::before{
        content: "";
        border:none;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        display: inline-block;
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--orangered,
    &--orangered::before{
        background-image: linear-gradient(to right,orange,orangered);
    }
    &--animated:hover{
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        transform: translateY(-5px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);

        &::before{
            transform: scaleX(1.4) scaleY(1.4);
            opacity: 0;
        }

    }

    &--animated:active{
        outline: none;
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.2);

    }    
}

.btn--small{
    padding: 1rem;
}

.btn-text{
    &,
    &:link,
    &:visited{
        border:none;
        background-color: transparent;
        color: var(--color-primary);
        border-bottom: 2px solid currentColor;
        text-transform: uppercase;
        padding-bottom: .5rem;
        cursor: pointer;
        display: inline-block;
        font-size: 1.2rem;
        transition: all .2s;    
    }

    &:hover{
        transform: translateY(-2px);
    }

    &:active{
        transform: translateY(0);
        color: var(--color-primary-dark);
    }

}

.btn--animated[disabled]{
    border:none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 1.5rem 3rem;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    font-size: 1.6rem;
    opacity: 0.2;
    &:hover{
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        transform: translateY(0px);
        box-shadow: none;

        &::before{
            transform: scaleX(1) scaleY(1);
            opacity: 0;
        }

    }


    &:active{
        outline: none;
        transform: translateY(0);
        box-shadow: none;
    }
}
